<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-links">
        <div class="left hidden-xs hidden-sm">
          <a href="https://www.facebook.com/odaialacombe/" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="https://github.com/OdaiaLCMB" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
          <a href="https://www.linkedin.com/in/odaialacombe/" target="_blank">
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
          <a href="https://twitter.com/OdaiaLcmb" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="https://www.instagram.com/odaialacombe_pro/" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
        <div class="contact hidden-xs hidden-sm">
          <p><%= t('footer.contactme') %> <a href="mailto:odaialacombe@gmail.com" target="_blank">odaialacombe@gmail.com</a></p>
        </div>
        <div class="right">
          <% if current_page?(root_path) %>
            <% if I18n.locale == :en %>
            <p> <%= link_to "EN", "/", {class: "bolder"} %>  | <%=link_to "FR", { :locale=>'fr' } %> </p>
            <% elsif I18n.locale == :fr %>
            <p> <%= link_to "EN", "/" %>  | <%=link_to "FR", { :locale=>'fr' }, {class: "bolder"} %> </p>
            <% end %>
          <% elsif current_page?(about_path) %>
            <% if I18n.locale == :en %>
            <p> <%= link_to "EN", "/about", {class: "bolder"} %>  | <%=link_to "FR", { :locale=>'fr' } %> </p>
            <% elsif I18n.locale == :fr %>
            <p> <%= link_to "EN", "/about" %>  | <%=link_to "FR", { :locale=>'fr' }, {class: "bolder"} %> </p>
            <% end %>
          <% elsif current_page?(work_path) %>
            <% if I18n.locale == :en %>
            <p> <%= link_to "EN", "/work", {class: "bolder"} %>  | <%=link_to "FR", { :locale=>'fr' } %> </p>
            <% elsif I18n.locale == :fr %>
            <p> <%= link_to "EN", "/work" %>  | <%=link_to "FR", { :locale=>'fr' }, {class: "bolder"} %> </p>
            <% end %>
          <% elsif current_page?(contact_path) %>
            <% if I18n.locale == :en %>
              <p> <%= link_to "EN", "/contact", {class: "bolder"} %>  | <%=link_to "FR", { :locale=>'fr' } %> </p>
            <% elsif I18n.locale == :fr %>
              <p> <%= link_to "EN", "/contact" %>  | <%=link_to "FR", { :locale=>'fr' }, {class: "bolder"} %> </p>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="copyright text-center">
            <p>© 2017 Odaïa Lacombe. <%= t('footer.copyright') %>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

