<div class="navbar-odaia">

  <% if current_page?(root_path) %>

    <%= link_to "", root_path, {class: "navbar-odaia-brand hidden-lg hidden-md"} %>
    <p></p>

    <!-- Right Navigation sur la home page -->
    <div class="navbar-float-right navbar-odaia-right hidden-xs hidden-sm">
      <%= link_to "Home", root_path, {class: "navbar-odaia-item navbar-odaia-link bold"} %>
      <p class="navbar-odaia-link margin-xs bold">|</p>
      <%= link_to "About", about_path, {class: "navbar-odaia-item navbar-odaia-link"} %>
      <p class="navbar-odaia-link margin-xs bold">|</p>
      <%= link_to "Work", work_path, {class: "navbar-odaia-item navbar-odaia-link"} %>
      <p class="navbar-odaia-link margin-xs bold">|</p>
      <%= link_to "Contact", contact_path, {class: "navbar-odaia-item navbar-odaia-link"} %>
    </div>

  <% elsif current_page?(about_path) %>
    <!-- Logo -->
    <%= link_to "", root_path , {class: "navbar-odaia-brand"} %>

    <!-- Right Navigation -->
    <div class="navbar-odaia-right hidden-xs hidden-sm">
      <%= link_to "Home", root_path, {class: "navbar-odaia-item navbar-odaia-link"} %>
      <p class="navbar-odaia-link margin-xs bold">|</p>
      <%= link_to "About", about_path, {class: "navbar-odaia-item navbar-odaia-link bold"} %>
      <p class="navbar-odaia-link bold margin-xs">|</p>
      <%= link_to "Work", work_path, {class: "navbar-odaia-item navbar-odaia-link"} %>
      <p class="navbar-odaia-link bold margin-xs">|</p>
      <%= link_to "Contact", contact_path, {class: "navbar-odaia-item navbar-odaia-link"} %>
    </div>

    <% elsif current_page?(work_path) %>
    <!-- Logo -->
    <%= link_to "", root_path , {class: "navbar-odaia-brand"} %>

    <!-- Right Navigation -->
    <div class="navbar-odaia-right hidden-xs hidden-sm">
      <%= link_to "Home", root_path, {class: "navbar-odaia-item navbar-odaia-link"} %>
      <p class="navbar-odaia-link margin-xs bold">|</p>
      <%= link_to "About", about_path, {class: "navbar-odaia-item navbar-odaia-link"} %>
      <p class="navbar-odaia-link bold margin-xs">|</p>
      <%= link_to "Work", work_path, {class: "navbar-odaia-item navbar-odaia-link bold"} %>
      <p class="navbar-odaia-link bold margin-xs">|</p>
      <%= link_to "Contact", contact_path, {class: "navbar-odaia-item navbar-odaia-link"} %>
    </div>

    <% elsif current_page?(contact_path) %>
    <!-- Logo -->
    <%= link_to "", root_path , {class: "navbar-odaia-brand"} %>

    <!-- Right Navigation -->
    <div class="navbar-odaia-right hidden-xs hidden-sm">
      <%= link_to "Home", root_path, {class: "navbar-odaia-item navbar-odaia-link"} %>
      <p class="navbar-odaia-link margin-xs bold">|</p>
      <%= link_to "About", about_path, {class: "navbar-odaia-item navbar-odaia-link"} %>
      <p class="navbar-odaia-link bold margin-xs">|</p>
      <%= link_to "Work", work_path, {class: "navbar-odaia-item navbar-odaia-link"} %>
      <p class="navbar-odaia-link bold margin-xs">|</p>
      <%= link_to "Contact", contact_path, {class: "navbar-odaia-item navbar-odaia-link bold"} %>
    </div>

  <% end %>

  <!-- Dropdown appearing on mobile only -->

  <div class="hidden-md hidden-lg">

    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-odaia-dropdown-menu">
        <li>
          <%= link_to "Home", root_path, {class: "navbar-odaia-item navbar-odaia-link"} %>
          <%= link_to "About", about_path, {class: "navbar-odaia-item navbar-odaia-link"} %>
        </li>
        <li>
          <%= link_to "Work", work_path, {class: "navbar-odaia-item navbar-odaia-link"} %>
        </li>
        <li>
          <%= link_to "Contact", contact_path, {class: "navbar-odaia-item navbar-odaia-link"} %>
        </li>
      </ul>
    </div>
  </div>

</div>
