<div class="banner">
  <div class="banner-content-about">
    <div class="hidden-xs hidden-sm">
      <div id="bg-paint">
        <% if I18n.locale == :en %>
          <div class="title-about title-about-en"></div>
        <% elsif I18n.locale == :fr %>
          <div class="title-about title-about-fr"></div>
        <% end %>
      </div>
    </div>
    <div class="margin-top-about">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6">
            <div class="border-left">
              <p class="presentation justify"> <%= t('about.introduction.one') %> <a class="bolder" href="https://www.lewagon.com/fr/aix-marseille" target="_blank">Le Wagon Aix-Marseile</a> <%= t('about.introduction.two') %> 2017.
              <br> <%= t('about.introduction.three') %>
              <br> <%= t('about.introduction.four') %>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6">
            <div id="card-about">
              <!-- design card -->
              <div id="active" class="card-about">
                <div class="card-category-about">
                  <h2 class="border-left bolder">
                    <%= t('about.design.title') %>.
                  </h2>
                </div>
                <div class="card-description-about justify">
                  <p class="padding-left">
                    <%= t('about.design.one') %><br>
                  </p>
                  <p class="citation padding-left text-center">
                    “<%= t('about.design.two') %>„
                  </p>
                </div>
                <img src="http://res.cloudinary.com/dkt6x6yfo/image/upload/v1508419210/odaialacombe_pictogrammes_HD-07_vuxp1a.png" alt="design pictogramme" class="card-pict card-design">
                <div id="arrow1" class="card-arrow arrow-right">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
              </div>
              <!-- end -->
              <!-- cogs card -->
              <div id="active2" class="card-about hidden">
                <div class="card-category-about">
                  <h2 class="space-letter-xs border-left bolder">
                    <%= t('about.cogs.title') %>.
                  </h2>
                </div>
                <div class="card-description-about justify">
                  <p class="padding-left">
                    <%= t('about.cogs.one') %><br>
                    <%= t('about.cogs.two') %><br>
                  </p>
                  <p class="citation padding-left text-center">
                    “<%= t('about.cogs.three') %>„
                  </p>
                </div>
                <div class="card-mobile card-pict">
                  <i class="fa fa-cogs" aria-hidden="true"></i>
                </div>
                <div id="arrow3" class="card-arrow arrow-right">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
                <div id="arrow2" class="card-arrow arrow-left">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                </div>
              </div>
              <!-- end -->
              <!-- web card -->
              <div id="active3" class="card-about hidden">
                <div class="card-category-about">
                  <h2 class="space-letter-xs border-left bolder">
                    <%= t('about.web.title') %> ?
                  </h2>
                </div>
                <div class="card-description-about justify">
                  <p class="padding-left">
                    <%= t('about.web.one') %><br>
                  </p>
                  <p class="padding-left conclusion">
                    <%= t('about.conclusion') %>
                  </p>

                  <% if I18n.locale == :en %>

                    <p class="btn-contact-en btn-contact fromLeft bolder">
                      <a href="mailto:odaialacombe@gmail.com" class="border-left padding-left">
                        <%= t('about.contact') %>
                      </a>
                    </p>

                  <% elsif I18n.locale == :fr %>

                    <p class="btn-contact-fr btn-contact fromLeft bolder">
                      <a href="mailto:odaialacombe@gmail.com" class="border-left padding-left">
                        <%= t('about.contact') %>
                      </a>
                    </p>

                  <% end %>

                </div>
                <img src="http://res.cloudinary.com/dkt6x6yfo/image/upload/v1508419187/odaialacombe_pictogrammes_HD-05_emlytj.png" alt="web pictogramme" class="card-pict card-web">
                <div id="arrow4" class="card-arrow arrow-left">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                </div>
              </div>
              <!-- end -->
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
