<div class="banner">
  <div class="banner-content">
    <div class="hidden-xs hidden-sm">
      <div id="bg-paint">
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6">
          <div class="border-left">
            <p class="presentation"> <%= t("about.introduction") %>
            <br><br>
            <%= t("about.fin") %></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6">
          <div class="card">
            <div class="card-category">
              <h2 class="space-letter-xs border-left bolder">Web</h2>
            </div>
            <div class="card-description text-left">
              <p>
                <%= t('about.web.one') %>
                <!-- <br> -->
                <%= t('about.web.two') %>
                <!-- <br> -->
                <%= t('about.web.three') %>
                <br>
                <%= t('about.web.four') %>
              </p>
            </div>
            <img src="http://res.cloudinary.com/dkt6x6yfo/image/upload/v1508419187/odaialacombe_pictogrammes_HD-05_emlytj.png" alt="web pictogramme" class="card-pict">
            <div class="card-arrow">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- <div class="card">
        <div class="card-category">

        </div>
        <div class="card-description">

        </div>
        <img src="" alt="mobile pictogramme" class="card-pict">
        <div class="card-arrow">

        </div>
      </div>
      <div class="card">
        <div class="card-category">

        </div>
        <div class="card-description">

        </div>
        <img src="" alt="design pictogramme" class="card-pict">
        <div class="card-arrow">

        </div>
      </div> -->
    </div>
  </div>
</div>
