<div class="banner">
  <div class="banner-content-work">
  <div class="container">
    <div class="hidden-xs hidden-sm">
      <div id="bg-paint">
        <% if I18n.locale == :en %>
          <div class="title-work title-work-en"></div>
        <% elsif I18n.locale == :fr %>
          <div class="title-work title-work-fr"></div>
        <% end %>
      </div>
    </div>
    <!-- <div class="container"> -->
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6">
          <div class="card-work overlay white hover" style="background-image: url('http://res.cloudinary.com/dkt6x6yfo/image/upload/v1511381541/Capture_d_e%CC%81cran_2017-11-22_a%CC%80_21.11.27_cx1nru.png');">
            <div class="card-category overlay">
              <h3 class="text-left bolder">Diwyh</h3>
              <h4><em><%= t('work.project') %></em></h4>
            </div>
            <div class="card-description text-left overlay">
              <p><%= t('work.diwyh') %></p>
            </div>
            <a class="card-link bolder uppercase overlay" href="http://www.diwyh.ovh/"><%= t('work.discover') %></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6">
          <div class="card-work margin-top overlay blue hover" style="background-image: url('http://res.cloudinary.com/dkt6x6yfo/image/upload/v1511381542/Capture_d_e%CC%81cran_2017-11-22_a%CC%80_21.11.51_kisa66.png');">
            <div class="card-category overlay">
              <h3 class="text-left bolder">Moussaillon</h3>
              <h4><em><%= t('work.project') %></em></h4>
              </div>
            <div class="card-description text-left overlay">
              <p><%= t('work.moussaillon') %></p>
            </div>
            <a class="card-link bolder uppercase overlay" href="http://moussaillon.herokuapp.com/"><%= t('work.discover') %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
