<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Lacombe Odaia - Développeur web</title>
    <meta name="description" content="Odaïa Lacombe est un développeur web freelance basé à Marseille. Elle vous aide à créer des sites vitrine, e-commerce ou web app..">

    <meta name="google-site-verification" content="8W4MFequ24txqn_RRlo6wUBX1vFryW4D9oYSUKan75w" />

    <link rel="alternate" hreflang="fr" href="/fr" />
    <link rel="alternate" hreflang="en" href="/" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109512177-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109512177-1');
    </script>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%# render "shared/construction" %>
    <%= render "shared/navbar" %>
    <%= yield %>
    <%= render "shared/footer" %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
